<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Vue js exemples</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <script src="https://unpkg.com/vue/dist/vue.js"></script>

<body>

<div id="app">
 
    <p v-if="show"> You can see me ! </p>

    <button @click="show = !show">
        
       {{buttonText}}

    </button>


    <template v-if="show">

        <h1> Heading </h1>
        <p> Inside the template ! </p>

    </template>

    <hr>

    <h3> Render List (Array) </h3>

    <ul>

        <li v-for="(ingredient, index) in ingredients">

             {{index}} - {{ingredient}} 

        </li>
    </ul>

    <hr>

    <h3> Render List (Array of objects) </h3>
    <ul>
        <li v-for="person in persons">

            <div v-for="(value, key, index) in person"> {{index}} : {{key}} : {{value}} </div>

        </li>
    </ul>

</div>


</body>
</html>

<script>

new Vue({
el: '#app',
data () {
    return {
        show: true,
        ingredients: ['meat', 'fruit', 'cookies'],
        persons: [
            {name: "marwa", age: 27, color: "green"},
            {name: "mriwa", age: 28, color: "blue"}
        ]


    }

},

computed: {
    buttonText() {

    return this.show ? "Hide text" : "Show text"

    }
}
});

</script>